$black 			: #000;
$white 			: #fff;

//* = CUSTOM COLORS
//----------------------------------------------- */


//* = SOCIAL MEDIA COLORS
//----------------------------------------------- */

$color-android		: #a4c639;	// R164  G198  B57
$color-behance		: #053eff;	// R5    G62   B255
$color-delicious	: #205cc0;	// R32   G92   B192
$color-dribbble		: #ea4c89;	// R234  G76   B137
$color-facebook		: #3b5998;	// R59   G89   B152
$color-flickr-blue	: #0063dc;	// R0    G99   B220
$color-flickr-pink	: #ff0084;	// R255  G0    B132
$color-forrst		: #5b9a68;	// R91   G154  B104
$color-foursquare	: #25a0ca;	// R37   G160  B202
$color-googleplus	: #db4a39;	// R219  G74   B57
$color-instagram	: #3f729b;	// R63   G114  B155
$color-kippt		: #e03500;	// R224  G53   B0
$color-linkedin		: #0e76a8;	// R14   G118  B168
$color-linkility	: #144966;	// R20   G73   B102
$color-path			: #e41f11;	// R228  G31   B17
$color-pinterest	: #c8232c;	// R200  G35   B44
$color-pocket		: #ee4056;	// R238  G64   B86
$color-rdio			: #008fd5;	// R0    G143  B213
$color-rss			: #ee802f;	// R238  G128  B47
$color-skype		: #00aff0;	// R0    G175  B240
$color-soundcloud	: #ff7700;	// R255  G119  B0
$color-spotify		: #81b71a;	// R129  G183  B26
$color-tumblr		: #34526f;	// R52   G82   B111
$color-twitter		: #00a0d1;	// R0    G160  B209
$color-vimeo		: #86c9ef;	// R134  G201  B239
$color-yahoo		: #720e9e;	// R114  G14   B158
$color-youtube		: #c4302b;	// R196  G48   B43
