<!doctype html>
<!--[if IE 7]>
<html class="ie ie7">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8">
<![endif]-->
<!--[if !(IE 7) | !(IE 8) ]><!-->
<html>
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width">

	<title><%= projectTitle  %></title>
	<% if (includeBootstrap) {  %>
	<link rel="stylesheet" href="<%= buildPath  %>/<%= cssFolder  %>/bootstrap.css"><% } %>
	<link rel="stylesheet" href="<%= buildPath  %>/<%= cssFolder  %>/style.css">
	<!--[if IE 8]><link rel="stylesheet" href="<%= buildPath  %>/<%= cssFolder  %>/ie.css"><![endif]-->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/<%= jqueryVersion  %>/jquery.min.js"></script>

	<script src="<%= buildPath  %>/<%= jsFolder  %>/script.js" type="text/javascript" charset="utf-8"></script>
</head>
